@tailwind base;
@tailwind components;
@tailwind utilities;

body, input, button {
    font-family: 'Poppins', sans-serif;
}

.backgroundImage{
    background: url("src/assets/img/login.jpg");
    background-size: cover;
}